taxo_files.zip
human_chromosome_size.*
viral_dates.txt
docs/_build/
documentation/site/
*/__pycache__
*/*/__pycache__
.dropbox.attr
*/.dropbox.attr
*pyc
.coverage
.cache/
.eggs/
coverage.xml
old_data/
VirMet.egg-info/
*/virmet.egg-info/
build/
dist/
installed_files.txt
.venv/
virmet.log
.ruff_cache
.pytest_cache
