name: Python Continous Integration
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tool: ruff-format
            command: ruff format --check src tests

          - tool: ruff-lint
            command: ruff check src tests

          - tool: bandit
            command: bandit -r src -c bandit.yaml
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.8

      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
        working-directory: ${{ github.workspace }}

      - name: Run ${{ matrix.tool }}
        run: ${{ matrix.command }}

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.8
    
      - name: Install Mambaforge (Mamba/Conda)
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          mamba-version: "*" 
          channels: bioconda,conda-forge 
          channel-priority: true
          auto-activate-base: false
          auto-update-conda: true
          
      - name: Install Bioinformatics Tools (including kraken2/datasets)
        shell: bash -l {0} 
        run: |
          mamba install -y \
            blast \
            bwa \
            samtools \
            seqkit \
            seqtk \
            fastp \
            htslib \
            kraken2 \
            ncbi-datasets-cli

      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
        working-directory: ${{ github.workspace }}

      - name: Run tests
        shell: bash -l {0}
        run: pytest