name: Python Continous Integration
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tool: ruff-format
            command: ruff format --check src tests

          - tool: ruff-lint
            command: ruff check src tests

          - tool: bandit
            command: bandit -r src
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.8

      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
        working-directory: ${{ github.workspace }}

      - name: Run ${{ matrix.tool }}
        run: ${{ matrix.command }}

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.8
    
      - name: Install external bioinformatics tools
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ncbi-blast+ \
            bwa \
            samtools \
            seqtk \
            fastp \
            htslib-tools

      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
        working-directory: ${{ github.workspace }}

      - name: Run tests
        run: pytest